body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body {
    background: url('../images/bg.png')
}
button, div, form, input {
  margin: 10px;
}
h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#FF0000 40%, #FFFFF0 50%,#008000 60%);
  text-align: center;
}
#wrapper{
    position: absolute;
}
button, input {
    background: linear-gradient(to right, #FF0000 0%, #FFFFF0 5%,#FF0000 10%, #FFFFF0 15%,#FF0000 20%, #FFFFF0 25%,#FF0000 30%, #FFFFF0 35%,#FF0000 40%, #FFFFF0 45%,#FF0000 50%, #FFFFF0 55%,#FF0000 60%, #FFFFF0 65%,#FF0000 70%, #FFFFF0 75%,#FF0000 80%, #FFFFF0 85%,#FF0000 90%, #FFFFF0 95%,#FF0000 100%)
}
p,label,a {
    background: -webkit-linear-gradient(#008000 0%, #FF0000 40%, #FFFFF0 50%,#008000 55%);
}
p,a {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}
label {
    font-size: 20px;
}
h1,p,label,a {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#gifSpace{
    margin-top: 8%;
}
@media only screen and (max-width: 1440px){
    #gifSpace{
        margin-top: 13%;
    }
}

@media only screen and (max-width: 786px){
    #gifSpace{
        margin-top: 18%;
    }
}
@media only screen and (max-width: 425px){
    #gifSpace{
        margin-top: 8%;
    }
}
a {
    text-decoration: none;
}
button,input{
    font-weight: bold;
    color: #008000;
}
.moveIt{
    margin-top: -5px;
    margin-left: 2px;
}
.btn-Input{
    background: #FFFFF0;
}
img{
    border-style: dashed ;
    border-color: red green;
}