body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body {
    background: url('../images/bg.png')
}
button, div, form, input {
  margin: 10px;
}
h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#FF0000 0%, #FFFFF0 50%,#008000 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
#wrapper{
    position: absolute;
}
button, input {
    background: linear-gradient(to right, #FF0000 0%, #FFFFF0 40%,#008000 80% )
}
p {
    font-size: 30px;
    background: -webkit-linear-gradient(#008000 0%, #FF0000 40%, #FFFFF0 50%,#008000 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-align: center; */
}
